*{
  font-family:serif;
}

.container{
  width: 20vw;
  background-color: #030315;
  // height:100vh;
  .profile{
    display: flex;
    flex-direction: column;
     align-items: center;
     padding-top:1rem;
     padding-bottom: 2rem;
     background-color: #060623;
    .div-iamge{
       width:100px;
       height: 100px;
       border-radius: 50%;
       overflow: hidden;
       img{
        width:100%;
        height: 100%;
        object-fit: cover;
       }
    }
    h4{
      margin-top: 0.5rem;
      color:white;
      font-weight: border;
    }
    p{
      margin-top: 0.8rem;
      color:#666;
    }
  }
  .container-info{
    padding: .5rem 1rem;

  .info{
    border-bottom: 1px solid #666;
    padding-bottom: .8rem;
    margin-bottom: 1rem;
    .sub-info{
      display:flex;
      justify-content:space-between;
      margin-top: 0.5rem;
    }
  }

  .language {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #666;
    padding-bottom: .8rem;
    margin-bottom: 1rem;
    .single-chart {
      width: 50%;
      justify-content: space-around ;

      p{
        text-align: center;
      }
    }

  }



  .circular-chart {
    display: block;
    margin: 5px auto;
    max-width: 55%;
    max-height: 200px;
  }

  .circle-bg {
    fill: none;
    stroke: #060623;
    stroke-width: .7;
  }

  .circle {
    fill: none;
    stroke-width: .7;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
  }

  @keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
  }

  .circular-chart.orange .circle {
    stroke: #e2e608;
  }


  .percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
  }

  .skiles{
     .infoSkile{
       display: flex;
       justify-content:space-between;
       margin-bottom: 1rem;
     }
  }
  }


  .my-style-p{
    color: white;
    font-size: 13px;
  }
  .my-style-span{
    color: #666;
    font-size: 13px;
  }
}
